html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5rem;
}

img {
  width: 100%;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

nav a {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #8f2440;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #3f1622;
}

header ol {
  list-style-type: none;
  text-decoration: none;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.days {
  font-weight: bold;
}

.quote {
  font-style: italic;
  font-size: 1rem;
  margin: 0 3rem;
}

main cite:nth-child(2) {
  font-size: 0.5em;
  margin: 0 3rem;
  line-height: 3rem;
}

strong {
  font-weight: normal;
}

main ol {
  list-style-type: lower-greek;
}

.serving {
  font-style: italic;
}

dt {
  font-weight: bold;
}

aside ul li {
  list-style-type: circle;
}
