html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5rem;
  color: #222;
}

img {
  width: 100%;
}

i,
h1 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

nav a {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #8f2440;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #3f1622;
}

header ol {
  list-style-type: none;
  text-decoration: none;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: .8rem;
}

.days {
  font-weight: bold;
}

.quote {
  font-style: italic;
  margin: 0 3rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.chris {
  font-size: .5em;
  margin: 0 3rem;
  line-height: 3rem;
}

strong {
  font-weight: normal;
}

main ol {
  list-style-type: lower-greek;
}

.serving {
  font-style: italic;
}

dt {
  font-weight: bold;
}

dd {
  font-size: .8rem;
}

aside ul li {
  list-style-type: circle;
  font-size: .8rem;
  line-height: 1.2rem;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

footer {
  font-size: 0.8rem;
}
